---
layout: default
---

{{ content }}

<h2 id="discussion">Join the Discussion</h2>

<p>
If you're stuck, have questions, or want to provide feedback, you can do so below.
However, I ask that you please refrain from posting complete solutions to any
of the challenges.
</p>

<p>
Before commenting, you will need to authorize
<b>giscus</b>. Alternatively, you can add a comment directly on the
<a
href="https://github.com/CaptainCoderOrg/AdventureQuest-Unity-2021/discussions/categories/q-a"
target="_blank">GitHub Discussion Board</a>.
</p>

<script src="https://giscus.app/client.js"
        data-repo="CaptainCoderOrg/AdventureQuest-Unity-2021"
        data-repo-id="R_kgDOIsdEkA"
        data-category="Q&A"
        data-category-id="DIC_kwDOIsdEkM4CTVa-"
        data-mapping="title"
        data-strict="0"
        data-reactions-enabled="0"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>